<section class="h-screen">
  <div class="container h-full px-6 py-24">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between"
    >
      <!-- Left column container with background-->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
        <img
          src="../../../assets/shipedge-logo.png"
          class="w-full"
          alt="Phone image"
        />
      </div>

      <!-- Right column container with form -->
      <div class="md:w-8/12 lg:ml-6 lg:w-5/12">



        <form [formGroup]="fg">
          <div class="mb-5">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input
              type="text"
              formControlName="username"
              [ngClass]="(fg.get('username')?.errors && (fg.get('username')?.dirty || fg.get('username')?.errors && fg.get('username')?.touched))?
                'rounded-full w-full py-2 px-3 text-grey-darker block mb-2 text-sm font-medium dark:text-red-500 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 ':
                'shadow appearance-none border rounded-full w-full py-2 px-3 text-grey-darker'"
              placeholder="Username">
            <div *ngIf="fg.get('username')?.errors && (fg.get('username')?.dirty || fg.get('username')?.touched)">
              <div *ngIf="fg.get('username')?.errors?.['required']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  Campo requerido
                </small>
              </div>
              <div *ngIf="fg.get('username')?.errors?.['email']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  Campo debe de ser un email
                </small>
              </div>
              <div *ngIf="fg.get('username')?.errors?.['minlength']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  El username no puede ser menor a 5 caracteress
                </small>
              </div>
              <div *ngIf="fg.get('username')?.errors?.['maxlength']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  El username no puede ser mayor a 50 caracteress
                </small>
              </div>
            </div>
          </div>

          <div class="mb-5">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input
              formControlName="password"
              class="shadow appearance-none rounded-full w-full py-2 px-3 text-grey-darker"
              [ngClass]="(fg.get('password')?.errors && (fg.get('password')?.dirty || fg.get('password')?.touched) && fg.get('password')?.errors)?
                'rounded-full w-full py-2 px-3 text-grey-darker block mb-2 text-sm font-medium dark:text-red-500 bg-red-50 border border-red-500 text-red-900 placeholder-red-700 ':
                'shadow appearance-none border rounded-full w-full py-2 px-3 text-grey-darker'"
              type="password" placeholder="•••••••••">
            <div *ngIf="fg.get('password')?.errors && (fg.get('password')?.dirty || fg.get('password')?.touched)">
              <div *ngIf="fg.get('password')?.errors?.['required']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  Campo requerido
                </small>
              </div>
              <div *ngIf="fg.get('password')?.errors?.['email']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  Campo debe de ser un email
                </small>
              </div>
              <div *ngIf="fg.get('password')?.errors?.['minlength']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  El password no puede ser menor a 8 caracteress
                </small>
              </div>
              <div *ngIf="fg.get('password')?.errors?.['maxlength']">
                <small class="mt-2 text-sm text-red-600 dark:text-red-500">
                  El password no puede ser mayor a 50 caracteress
                </small>
              </div>
            </div>
          </div>
          <button
            (click)="login()"
              [ngClass]="fg.valid?
                'inline-block w-full rounded-full bg-blue-400 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-gray-100 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]':
                'inline-block w-full rounded-full bg-gray-400 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-gray-100 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]'"
                [disabled]="!fg.valid"
                >
              Iniciar session {{isLog}}
          </button>


        </form>

        <form>
          <!-- Divider -->
          <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
            <p class="mx-4 mb-0 text-center font-semibold dark:text-neutral-200">OR</p>
          </div>

          <div class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-neutral-300 after:mt-0.5 after:flex-1">
            <button
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="bg-blue-600 mx-1 h-9 w-9 rounded-full bg-primary uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            >
              <!-- Facebook -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto h-3.5 w-3.5"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
                />
              </svg>
            </button>

            <!-- Twitter -->
            <button
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="mx-1 h-9 w-9 rounded-full bg-primary uppercase leading-normal text-blue-400 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            >
              <!-- Twitter -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto h-3.5 w-3.5"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                />
              </svg>
            </button>

            <!-- Linkedin -->
            <button
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              class="mx-1 h-9 w-9 rounded-full bg-primary uppercase leading-normal text-blue-900 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            >
              <!-- Linkedin -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto h-3.5 w-3.5"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
                />
              </svg>
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
